
body{
  background-color: #e5e5f7;
  /*opacity: 0.8;*/
  /*background: linear-gradient(135deg, #f7454555 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #f74545 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f7454555 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f74545 25%, #e5e5f7 25%) 0px 0/ 20px 20px;*/
  min-height: 100vh;

}
.example-card {
  max-width: 70%;
  margin-bottom: 8px;
}
.spacer{
  margin-top:10vh;
}




.body{
  /*background-color:wheat;*/
  font-family: "Open Sans", sans-serif;
  font-size:1.4em;
  color:black;
  margin-left:1em;
  margin-right: 1em;


}


.introduction{
  font-size: 1.5em;
  color: red;
  font-family: "Cabin Sketch", sans-serif;
  text-align: center;
}

mat-icon {
  /*font-size: 100px;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
  /*width:100px;*/
  /*height:100px;*/

}
