
body{
  background-color: #e5e5f7;
  /*opacity: 0.8;*/
  /*background: linear-gradient(135deg, #f7454555 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #f74545 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f7454555 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f74545 25%, #e5e5f7 25%) 0px 0/ 20px 20px;*/
  min-height: 100vh;

}
.example-card {
  max-width: 70%;
  margin-bottom: 8px;
}
.spacer{
  margin-top:10vh;
}

h3{
  font-size: 1.2em;
}

p{
  font-size:1em;
}




.body{
  /*background-color:wheat;*/
  font-family: "Open Sans", sans-serif;
  font-size:1.4em;
  color:black;
  margin-left:1em;
  margin-right:1em;


}


.introduction{
  font-size: 1.5em;
  color: red;
  font-family: "Cabin Sketch", sans-serif;
  text-align: center;
}

mat-icon {
  color: #1b2735;
  font-size: 8vh;
  width:8vh;
  height:8vh;
}

p{
  margin-left:2em;
  margin-right:2em;
}

.social{
  display: flex;
  align-items: center; /* vertically align text + icon */


}


.social img {
  margin-right: 3em;
  margin-left:3em;
  width: 5vh;
  height: auto;
}


@media screen and (max-width: 700px) {


  body{
    font-size: 0.8em;
  }
  .introduction{
    font-size: 1.5em;
  }



  h3{
    font-size: 1.1em;

  }

  p{
    font-size:0.9em;
  }

}



@media screen and (max-width: 550px) {


  body{
    font-size: 0.75em;
  }
  .introduction{
    font-size: 1.4em;
  }



  h3{
    font-size: 1em;

  }

  p{
    font-size:0.85em;
  }

}
