.example-card {
  /*max-width: 400px;*/
  width:45%;
  /*width : 100%;*/

  margin-bottom: 8px;
  margin-right: 2em;

}

main{
  display:flex;
  flex-wrap:wrap;

}




.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
