/*.example-card {*/
/*  !*max-width: 400px;*!*/
/*  width:45%;*/
/*  object-fit: contain;*/
/*  !*width : 100%;*!*/

/*  margin-bottom: 8px;*/
/*  margin-right: 2em;*/

/*}*/

/* Style all mat-card images */
img[mat-card-image] {
  width: 90%;              /* take up 90% of card width */
  height: auto;            /* keep proportions */
  object-fit: contain;     /* prevent stretching */
  display: block;
  margin: 0 auto;          /* center image horizontally */
  max-height: 50vh;       /* control tall images */
}

.example-card{
  display:flex;
  flex-direction: row;
}
body{
  background-color: #e5e5f7;
  /*opacity: 0.8;*/
  /*background: linear-gradient(135deg, #f7454555 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #f74545 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f7454555 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f74545 25%, #e5e5f7 25%) 0px 0/ 20px 20px;*/
  min-height: 100vh;

}

p {
  background-color: blanchedalmond;
  margin-top: 2.5em;
  font-size: 2.4em;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
}




/*main{*/
/*  display:flex;*/
/*  flex-wrap:wrap;*/

/*}*/





/*.example-header-image {*/
/*  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');*/
/*  background-size: cover;*/
/*}*/


/*.scrollableImage{*/
/*  overflow-x:auto;*/
/*  */
/*}*/
