

/* Style all mat-card images */
img[mat-card-image] {
  width: 90%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  max-height: 50vh;
}

.example-card{
  display:flex;
  flex-direction: row;
}
body{
  background-color: #e5e5f7;
  min-height: 100vh;
}

.body{
  font-size:1.6em;
}

p {
  background-color: blanchedalmond;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "Indie Flower", cursive;
  font-weight: 400;

}

@media screen and (max-width: 900px) {

  .example-card{
    display:flex;
    flex-direction: column;
  }

  .body{
    font-size:1.3em;
  }

  p{
    font-size:1.2em;
  }



}


@media screen and (max-width: 700px) {

  .example-card{
    display:flex;
    flex-direction: column;
  }

  .body{
    font-size:1.2em;
  }

  p{
    font-size:1.1em;
  }

}





